@import url("https://fonts.googleapis.com/css2?family=Geo:ital@0;1&display=swap");
* {
  font-family: "Geo", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  align-items: center;
  justify-content: center;
  height: 100vh;
  display: flex;
  background-color: black;
}
button {
  position: relative;
  font-size: 35px;
  padding: 11px 35px;
  text-transform: uppercase;
  letter-spacing: 3px;
  background-color: transparent;
  border: solid 4px #00ff00;
  cursor: pointer;
  color: #00ff00;
  transition: 0.4s;
}
button::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: black;
  top: -8px;
  left: 24px;
  transition: 0.4s;
}
button::after {
  content: "";
  position: absolute;
  width: 30px;
  height: 15px;
  background-color: black;
  right: 24px;
  bottom: -8px;
  transition: 0.4s;
}
button:hover::after {
  transform: translateX(-110px);
}
button:hover::before {
  transform: translateX(110px);
}
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
  transition: 0.3s;
}
.box:nth-child(2) button {
  border: solid 4px red;
  color: red;
}
.box:nth-child(3) button {
  border: solid 4px #ff6f00;
  color: #ff6f00;
}
.box:nth-child(4) button {
  border: solid 4px #00a2ff;
  color: #00a2ff;
}
@media (max-width: 600px){
    .container{
        display: grid;
        grid-template-columns: 1fr;
        gap: 50px;
    }
}