*{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    align-items: center;
    justify-content: center;
    background-color: black;
    display: flex;
}
.calculator{
    width: 450px;
    padding: 30px;
    background-color: black;
    border-radius: 25px;
    border: solid 1px hsl(0, 0%, 40%);
    box-shadow: 20px 0 100px hsl(0, 0%, 40%);
}
.result{
    width: 100%;
    height: 90px;
    margin: 0 0 15px 0;
    justify-content: flex-end;
    display: flex;
    background-color: hsl(0, 0%, 10%);
    border-radius: 20px;
}
.result span{
    font-size: 70px;
    color: #FFF;
}
.numbers{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    row-gap: 12px;
}
.numbers button{
    font-size: 25px;
    padding: 25px;
    border-radius: 20px;
    border: none;
    width: 100px;
    background-color: transparent;
    cursor: pointer;
    transition: 0.1s;
}
.numbers .clear{
    color: red;
    font-weight: 600;
}
.numbers .clear:hover{
    transition: 0.1s;
    background-color: #ff000057;
}
.numbers .calculation{
    color: rgb(0, 255, 0);
    font-weight: bold;
}
.numbers .calculation:hover{
    transition: 0.1s;
    background-color: #00ff0047;
}
.numbers .number{
    color: #fff;
    font-weight: 600;
}
.numbers .number:hover{
    transition: 0.1s;
    background-color: hsl(0, 0%,10%);
}
.numbers .equal{
    background-color: #1aff00;
    color: white;
}
.numbers .equal:hover{
    background-color: hsl(114, 100%, 72%);
}
::selection{
    background-color: hsl(0, 0%, 50%);
    color: #ffffff;
}
@media (max-width: 768px){
    .calculator{
        width: 85%;
    }
    .numbers .equal{
        background-color: #ff02ff;
    }
    .numbers .calculation{
        color: #ff02ff;
    }
}
@media (max-width:600px){
    .calculator{
        width: 95%;
    }
}