@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* #3E68FF */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
body{
    background-color: #FFFFFF;
    display: flex;
    height: 100vh;
    justify-content: center;
}
.content{
    width: 350px;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 70px;
}
.content h1{
    text-align: center;
    white-space: pre-wrap;
}
.input-box1{
    width: 100%;
    height: 60px;
    position: relative;
    display: flex;
    margin-top: 30px;
}
.input-box1 input{
    width: 100%;
    height: 100%;
    padding: 10px 20px 10px 20px;
    font-size: 18px;
    outline: none;
    border-radius: 30px;
    border: solid 1px #858585c6;
    transition: 0.2s;
}

.input-box1 label{
    position: absolute;
    font-size: 18px;
    top: 15px;
    left: 23px;
    pointer-events: none;
    color: #858585c6;
    transition: 0.1s ease-in;
}
.input-box1:focus-within input{
    border: solid 1px #3E68FF;
    transition: 0.2s ease-out;
}
.input-box1:focus-within label{
    top: -12px;
    background-color: white;
    transition: 0.1s ease-in;
    color: #3E68FF;
    font-size: 15px;
    padding: 0 6px;
    border-radius: 50px;
    text-align: center;
}
p{
    font-size: 13px;
    color: hsl(0, 0%, 30%);
    text-align: center;
    white-space: pre-wrap;
}
p a{
    color: hsl(0, 0%, 30%);
}
p span{
    color: hsl(0, 0%, 30%);
    text-decoration: underline;
    cursor: pointer;
}
button{
    padding: 15px 10px;
    margin-top: 20px;
    border: none;
    font-size: 15px;
    border-radius: 30px;
    cursor: pointer;
    background-color: #131313;
    color: white;
    transition: 0.2s;
}
button:hover{
    background-color: hsl(0, 0%, 20%);
    transition: 0.2s;
}