@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* font-family: "Poppins", sans-serif; */

body{
    align-items: center;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;
}


*{
     font-family: "Poppins", sans-serif;
}

.logo{
    margin: 15px 50%;
}

.content h2{
    color: black;
    font-size: 30px;
    text-align: center;
}

.content .email-input{
    width: 500px;
    height: 60px;
    display: flex;
    padding-left: 20px;
    border-radius: 15px;
    border: solid 1px grey;
}

.submit-btn{
    padding: 15px 130px;
    margin: 0 auto;
    display: flex;
    background-color: black;
    color: white;
    font-size: 15px;
    font-weight: bold;
    border: none;
    border-radius: 30px;
    margin-top: 20px;
    transition: 0.3s;
    cursor: pointer;
}

.content .email-input:focus{
    border: 1px solid #0044ff;
}

.submit-btn:hover{
    background-color: transparent;
    color: black;
    border: solid black 2px;
}

.submit-btn:active{
    border: solid 2px blue;
    color: blue;
    box-shadow: 1px 1px 7px grey;
}

.content .email-input::placeholder{
    font-weight: 500;
}