@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap');
*{
    font-family: "Roboto Flex", sans-serif;
    margin: 0;
    padding: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 98vh;
    background-color: rgb(187, 187, 187);
}
.content{
    min-width: 600px;
    width: 80%;
    background-color: #ffffff;
    box-shadow: 10px 10px 5px #00000057;
    border-radius: 10px;
    height: 550px;
}
h1{
    text-align: center;
    margin-bottom: 90px;
    position: relative;
    top: 40px;
}
.email,.pass{
    display: flex;
    width: 80%;
    margin: 20px auto;
    height: 56px;
    outline: none;
    border-radius: 7px;
    border: solid grey 1px;
    padding-left: 20px;
    font-size: 20px;
    color: black;
}
.email::placeholder{
    font-size: 20px;
    text-align: center;
}
.pass::placeholder{
    font-size: 20px;
    text-align: center;
}
.se-connecter{
    display: flex;
    width: 500px;
    margin: 0 auto;
    height: 45px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: white;
    background-color: rgb(0, 94, 255);
    outline: none;
    border: none;
    border-radius: 10px;
    font-weight: 500;
    cursor: pointer;
}
a{
    font-size: 17px;
    display: block;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 25px;
    text-decoration: none;
    color: rgb(0, 106, 255);
    font-weight: bold;
}
hr{
    margin: 30px;
    opacity: 40%;
}
.p{
    background-color: white;
    width: 50px;
    color: #484848;
    text-align: center;
    margin: 0 auto;
    position: relative;
    bottom: 40px;
}
.green-btn{
    display: flex;
    margin: 0 auto;
    width: 350px;
    align-items: center;
    justify-content: center;
    background-color: #1aa61a;
    color: white;
    border: none;
    outline: none;
    font-size: 20px;
    font-weight: 500;
    border-radius: 7px;
    height: 45px;
    cursor: pointer;
}