@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: linear-gradient(to right bottom,#84A8DF,#C2CEE2);
}
.container{
    background-color: #fff;
    width: 100%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border-radius: 15px;
}
.title{
    font-size: 1.7rem;
    position: relative;
    text-align: center;
}
.title::before{
    content: '';
    position: absolute;
    width: 60%;
    height: 3px;
    background-color: #84A8DF;
    border-radius: 30px;
    bottom: -2px;
    left: 50%;
    transform: translateX(-50%);
}
.generator-btn{
    margin-top: 25px;
    cursor: pointer;
    align-self: flex-start;
    padding: 10px 13px;
    border-radius: 50px;
    color: #fff;
    border: none;
    font-weight: 500;
    background-image: linear-gradient(to right,#6978E3,#7651AA);
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
    transition: 0.3s;
}
.generator-btn:hover{
    transform: translateY(-3px);
}
.color-card{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}
.card{
    width: 105px;
    height: 150px;
    display: flex;
    flex-direction: column;
    border-radius: 10px 10px 0 0;
}
.color-card button{
    width: 100%;
    height: 45px;
    border-radius: 0 0 10px 10px;
    border: none;
    cursor: pointer;
    background-color: transparent;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-weight: 500;
    transition: 0.3s;
}
.color-card button:hover{
    background-color: rgba(0, 0, 0, 0.1);
}
.color-card .color{
    width: 100%;
    height: 100%;
    border-radius: 10px 10px 0 0;
}
.color-card i{
    color: #585858;
}
@media (max-width:600px){
    .container{
        min-height: 100vh;
        display: flex;
        justify-content: center;
    }
    .color-card{
        flex-wrap: wrap;
        gap: 15px;
    }
    .generator-btn{
        margin: 20px auto 0 auto;
    }
}