*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    align-items: center;
    justify-content: center;
    height: 100vh;
    display: flex;
    background-color: rgb(30, 30, 30);
}
a{
    color: white;
    text-decoration: none;
    width: 90px;
    height: 50px;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    transition: 0.4s;
}
.navbar{
    display: flex;
    background-color: #000000;
    width: 500px;
    height: 75px;
    border-radius: 90px;
    padding: 20px;
    align-items: center;
    position: relative;
    border: solid 3px #00ffc8;
    box-shadow: 0 0 5px #00ffc8;
    transition: 0.4s;
    z-index: 1;
}
.slider{
    position: absolute;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    z-index: -1;
    transition: 0.4s;
    background-color: #00ffc8;
}
.navbar a:nth-child(2):hover ~ .slider{
    transform: translateX(90px);
    background-color: #ff0048;
}
.navbar a:nth-child(3):hover ~ .slider{
    transform: translateX(180px);
    background-color: #00ff40;
}
.navbar a:nth-child(4):hover ~ .slider{
    transform: translateX(270px);
    background-color: #e600ff;
}
.navbar a:nth-child(5):hover ~ .slider{
    transform: translateX(360px);
    background-color: #ffaa00;
}
/* BORDER TRANSITION */

.navbar:has(a:nth-child(2):hover){
    border: solid 3px #ff0048;
    box-shadow: 0 0 5px #ff0048;
}
.navbar:has(a:nth-child(3):hover){
    border: solid 3px #00ff40;
    box-shadow: 0 0 5px #00ff40;
}
.navbar:has(a:nth-child(4):hover){
    border: solid 3px #e600ff;
    box-shadow: 0 0 5px #e600ff;
}
.navbar:has(a:nth-child(5):hover){
    border: solid 3px #ffaa00;
    box-shadow: 0 0 5px #ffaa00;
}