  @import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&display=swap');

    * {
      margin: 0;
      padding: 0;
      font-family: "Exo 2", sans-serif;
      box-sizing: border-box;
    }

    body {
      align-items: center;
      justify-content: center;
      height: 100vh;
      display: flex;
      background-color: #F9F9F9;
    }

    .wrapper {
      width: 400px;
      background-color: white;
      box-shadow: 3px 3px 5px #0000002b;
      border-radius: 10px;
    }

    .menu {
      display: flex;
      justify-content: flex-end;
    }

    .menu a {
      width: 30px;
      height: 30px;
      padding: 5px;
      text-align: center;
      font-size: 20px;
      border-radius: 50%;
      color: black;
      margin: 10px 5px 0 0;
      transition: 0.1s;
    }

    .menu a:hover {
      background-color: hsl(0, 0%, 90%);
    }

    .menu a:active {
      background-color: hsl(0, 0%, 95%);
    }

    .username {
      text-align: center;
      font-size: 30px;
      font-weight: bold;
    }

    .send-msg {
      text-align: center;
      font-size: 25px;
      font-weight: 600;
      color: #666666;
      margin-top: 10px;
    }

    .input-box,
    .input-box-two {
      width: 90%;
      height: 50px;
      margin: 30px auto;
      position: relative;
    }

    .input-box input {
      width: 100%;
      height: 100%;
      outline: none;
      font-size: 20px;
      padding: 12px;
      border: solid 1px hsl(0, 0%, 80%);
      border-radius: 3px;
    }

    .input-box input:hover,
    .input-box-two input:hover {
      border: solid 1px hsl(0, 0%, 10%);
    }

    .input-box .placeholder {
      position: absolute;
      font-size: 20px;
      top: 9px;
      left: 12px;
      color: #737373;
      transition: 0.1s ease-in;
      pointer-events: none;
    }

    .input-box input:focus+.placeholder,
    .input-box-two input:focus+.placeholder-two {
      transform: translateY(-20px);
      font-size: 15px;
      background-color: white;
      color: #9A146B;
      font-weight: 600;
      transition: 0.2s ease-in;
    }

    .input-box input:focus,
    .input-box-two .input-two:focus {
      border: solid 2px #9A146B;
      transition: 0.1s ease-in;
    }

    .box-btn {
      display: flex;
      justify-content: center;
      position: relative;
    }

    .mic-btn {
      width: 90%;
      font-size: 20px;
      padding: 7px;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: #E8E8E8;
      transition: 0.2s linear;
    }

    .mic-btn i {
      position: absolute;
      left: 100px;
    }

    .mic-btn:hover {
      background-color: hsl(0, 0%, 85%);
    }

    .input-box-two .input-two {
      width: 100%;
      height: 100%;
      outline: none;
      font-size: 20px;
      padding: 12px;
      border: solid 1px hsl(0, 0%, 80%);
      border-radius: 3px;
    }

    .input-box-two .placeholder-two {
      position: absolute;
      font-size: 20px;
      top: 9px;
      left: 12px;
      color: #737373;
      transition: 0.1s ease-in;
      pointer-events: none;
    }

    .span-one {
      color: hsl(0, 0%, 60%);
      font-size: 15px;
      font-weight: 550;
    }

    .checkbox {
      width: 90%;
      background-color: #F4F4F4;
      height: 40px;
      margin: 30px auto;
      position: relative;
      border-radius: 7px;
      cursor: pointer;
      display: flex;
    }

    .checkbox input {
      width: 20px;
      height: 20px;
      accent-color: black;
      margin-left: 10px;
      margin-top: 8px;
      cursor: pointer;
    }

    .checkbox label {
      font-size: 18px;
      cursor: pointer;
      margin: 7px;
    }

    .send-money {
      width: 90%;
      height: 50px;
      margin: 30px auto;
      position: relative;
    }

    .send-money .send-input{
      width: 100%;
      height: 100%;
      outline: none;
      font-size: 20px;
      padding: 12px;
      border: solid 1px hsl(0, 0%, 80%);
      border-radius: 3px;
    }

    .send-money .placeholder-3 {
      font-size: 15px;
      color: #737373;
      pointer-events: none;
      position: absolute;
      transform: translateY(-10px) translateX(10px);
      background-color: white;
      transition: 0.2s;
    }

    .send-money .send-input:hover {
      border: solid 1px hsl(0, 0%, 10%);
    }

    .send-money .send-input:focus {
      border: solid 2px #9A146B;
    }

    .send-money .span-two {
      font-size: 15px;
      color: hsl(0, 0%, 60%);
    }
    .send-money:focus-within .placeholder-3{
        color: #9A146B;
        font-weight: 600;
        transition: 0.2s;
    }

    .continuar {
      width: 90%;
      height: 55px;
      margin: 0 auto;
    }

    .continuar button {
      width: 100%;
      height: 100%;
      background-color: #9A146B;
      font-size: 20px;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 7px;
    }

    .last-p {
      white-space: pre-wrap;
      text-align: center;
      font-size: 13px;
      color: grey;
      margin-bottom: 15px;
    }

    .last-p a {
      color: grey;
    }

    .continuar button:hover {
      background-color: hsl(321, 77%, 40%);
    }