@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto' , sans-serif;
    color: #fff;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0F100F;
}
.container{
    width: 200px;
    display: flex;
    justify-content: space-between;
    background-color: #272727;
    height: 38px;
    border-radius: 90px;
    position: relative;
}
.container::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-radius: 90px;
    bottom: -7px;
}
.like-box,.dislike-box{
    flex: 1;
}
.like-box button,
.dislike-box button{
    min-width: 100%;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #272727;
    border: none;
    font-weight: 500;
    cursor: pointer;
    font-size: 18px;
    transition: 0.2s;
}
.like-box button{
    border-top: solid 1px white;
    border-bottom: solid 1px white;
    border-left: solid 1px white;
}
.dislike-box button{
    border-right: 1px solid white;
    border-bottom: 1px solid white;
    border-top: 1px solid white;
}
.like-box button{border-radius: 90px 0 0 90px;}
.dislike-box button{border-radius: 0 90px 90px 0;}
.like-box span,
.dislike-box span{
    font-size: 15px;
}
hr{
    width: 1px;
    background-color: hsl(0, 0%, 40%);
    border: none;
    margin: 5px 0;
}
button:hover{
    background-color: hsl(0, 0%, 30%);
}
.like-box button::after,
.dislike-box button::after{
    content: '';
    position: absolute;
    width: 80px;
    height: 38px;
    background-color: hsl(0, 0%, 60%);
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    bottom: 45px;
    pointer-events: none;
    transition: 0.2s;
    opacity: 0;
}
.like-box button::after{
    content: 'I like this';
}
.dislike-box button::after{
    content: 'i dislike this';
}
.like-box button:hover::after,
.dislike-box button:hover::after{
    opacity: 1;
}
@media (max-width: 500px){
    .container::after{
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    background-color: transparent;
}
}